.hero {
  justify-content: space-between;
  align-items: end;
 
}

.hero .heroleft .avater {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}
.hero .avatarpic {
  width: 25%;
  border: 1px solid darkorange;
  border-radius: 50%;
  padding: 1px;
  transition: 0.5s;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586);
}
.hero .avatarpic:hover {
  scale: 1.1;
  box-shadow: 2px 2px 60px rgba(203, 200, 200, 0.586);
}
.icon-verified {
  color: var(--blue);
  font-size: 20px;
}
.hero .heroleft h1.title {
  color: var(--title);
  margin-bottom: 20px;
  
  font-size: 2.7em;
  font-weight: 600;
}
.hero .heroleft .subtitle {
  color: var(--subtitle);
  font-size: 1rem;
}
.hero .heroleft ul.iconcon {
  display: flex;
  gap: 30px;
  padding: 0;
  margin-top: 20px;
}
.hero .heroleft ul.iconcon li a {
  color: var(--subtitle);
  font-size: 1.2rem;
  transition: 0.2s;
}
.hero .heroleft ul.iconcon li a:hover {
  color: var(--blue);
  font-size: 1.3rem;
}

.hero .herorigth .deve {
translate: 0px 50px;
transition:1s;
}
.hero .herorigth .deve:hover{
transform: scale(1.3);
}
@media (max-width: 1250px) {
  .hero {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .herorigth .deve {

  height: 300px;
  padding: 0;
  margin-bottom: 25px;
  }
  .hero .herorigth .deve:hover{
   transform: scale(1.1);
  }
}
